* {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000000 !important;
  background-color: #2f3143;
  font-family: "Roboto", sans-serif; 
  width: 100%;
  background-image: url("assets/vecteezy_abstract-futuristic-with-connection-lines-on-blue_22874469_385.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 center;
  position: relative;
  height: 100%;
}

header {
  width: auto;
  background-color: F2F2F2;
}


#name {
  animation: slideright 3s ease forwards;
  font-size: 3rem; 
}

@keyframes slideright {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%; 
    width: 100%;
  }
}


#welcome {
  animation: slideleft 3s ease forwards;
  line-height: 1.2;
  font-size: 25px;
  margin-top: -20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

@keyframes slideleft {
  from {
    margin-left: -200%;
    width: 300%;
  }
  to {
    margin-left: 0%; 
    width: 100%;
  }
}


nav{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 25px;
}

.onglets a{
  margin-right:50px;
  padding: 16px;
  margin-bottom: 60px;
  color: #f0f9ff;
  display: table-cell;
}

hr{
  margin-top: 30px;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
}

.sections-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.section {
  width: 100%; 
  margin: 10px 0; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Skills, #Interests {
  text-align: center;
}

#first{
  
}

ul.Skills, ul.interests {
  list-style: none;
  padding: 0;
}

ul.Skills li, ul.interests li {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 10px;
}

ul.Skills li i, ul.interests li i {
  margin-right: 10px;
  font-size: 1.2em;
}

.btnToggle {
  position: fixed;
  text-align: center;
  font-size: medium;
  font-family:Arial, Helvetica, sans-serif;
  top: 10px;
  right: 10px;
  width: 75px;
  height: 60px;
  border-radius: 12px;
  background: #d8e7e7;
  opacity: 0.9;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2000;
  padding: 0 15px;
}

.btnToggle::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #333;
  z-index: -1;
  transition: width 0.5s ease; 
}

.btnToggle:hover::before{
  width: 100%;

}

.btnToggle:hover{
  color: #d8e7e7;
}

.btnToggle.dark{
  top: 10px;
  right: 10px;
  width: 75px;
  height: 60px;
  border-radius: 12px;
  background: #333;
  color: #d8e7e7;
}

.btnToggle.dark::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #d8e7e7;
  z-index: -1;
  transition: width 0.5s ease; 
}

.btnToggle.dark:hover::before{
  width: 100%;

}

.btnToggle.dark:hover{
  color: #333;
}

.container {
  height: auto;
  line-height: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  color: #ffffff;
  text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
}

h4{
  margin-top: 30px;
}

.formations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 3rem;
}

h2 {
  font-weight: 2;
  text-align: center;
  text-underline-offset: 5px;
  text-decoration-color: #215273;
  margin-bottom: 25px;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

h2#form{
  color: #ffffff;
}

.Skills {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0;
    margin: 20px auto; 
    max-width: 400px; 
}


#exp {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #215273;
  padding-left: 10px;
  margin-bottom: 25px;
  color: #ffffff;
}

.card {
  width: 100%; 
  max-width: 80%;
  margin: 10px auto; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card.dark {
  background-color: #6b7280e8;
  color: #f5f0f0;
}

.badge.dark {
  
    background-color: #6b728000;
    color: #f5f0f0;
  }

  .badge {
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .section {
    background-color: #f9f9f9; 
    color: #000; 
    transition: background-color 0.5s ease, color 0.5s ease; 
  }
  
  .section.dark {
    background-color: #2d3748; 
    color: #f5f0f0; 
  }

.title {
  font-size: x-large;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  margin-left: 50px;
  margin-right: 44px;
  text-decoration: underline;
  text-decoration-color: #d1e3e8;


}


p.badge {
  color: #000000;
  background-color: #d1e3e8;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  padding: 0 4px 0 4px;
  
}

ul {
  font-size: 1.2rem;
}



li {
  line-height: 1.5;
  margin: 1.5%;
}

.titled{
  width: 66%;
  display: flex;
  justify-content: space-between;
}

p {
  display: flex;
  justify-content: space-evenly;
  color: var(--ecriture);
  width: 102%;
  margin-top: 10px;
}

.Contact-subtile {
  display: flex;
  justify-content: space-evenly;
}
a {
  color: #ffffff; 
}


#footer {
  padding: 20px 0; 
  width: 100%; 
}

.footer-container {
  width: 100%;
  margin: 0 auto; 
  padding: 0 20px; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #84a0b8dc;
  flex: 1;
}

#contact {
  margin-bottom: 20px; 
}

.address {
  flex: 1; 
  margin-right: 20px; 
}

.address .info {
  list-style: none;
  padding: 0;
  text-align: center;
}

.address .info li {
  margin-bottom: 10px; 
}

.link {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.link h3 {
  margin-bottom: 10px; 
  text-align: center;
}

.link a {
  margin-right: 15px; 
  font-size: 40px; 
  color: #ffffff; 
  text-decoration: none; 
}

.icon{
  text-align: center;
}

#mention{
  color: #ffffff;
  font-size: small;
  text-align: center;
  margin-top: 0;
}

@media (min-width: 768px) {
  .sections-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; 
  }

  .Section {
    width: 45%; 
    margin: 0;
  }
}


@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .container {
    margin-top: 40px;
  }

  #name {
    margin-top: 50px;
  }

  .card {
    margin-bottom: 60px;
  }

  .groove {
    width: 80%;
    margin: auto;
  }
}



@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    margin-top: 40px;
  }

  #name {
    margin-top: 45px;
  }

  .card {
    margin-bottom: 60px;
  }

  .groove {
    width: 80%;
    margin: auto;
  }

  .link a:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .link a:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

    color: #75d5e2; 
  }
  
  .Skills {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0;
    margin: 20px auto; 
    max-width: 400px; 
  }

}


@media (min-width: 1024px) {
  .sections-container {
    flex-direction: column; 
    align-items: center;
    width: 100%; 
  }

  .Section {
    width: 100%; 
    margin: 20px 0; 
  }

  .card {
    display: flex;
    flex-direction: column; 
    width: 100%; 
  }
}

